@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media only screen and (max-width: 400px) {
    header {
      height: 100px !important;
    }
    main {
      padding-top: 100px !important; /* header 50px height*/
    }
}

/* header */
header {
  width: 100%;
  height: 50px;
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
}

#logo {
  width:30px;
  background-color: #121212;
  aspect-ratio: 1 / 1;
  padding: 0.4rem;
}

h1 {
  color: #f1be32;
  font-size: min(5vw, 1.2em);
  text-align: left;
  letter-spacing: 2px;
  text-transform: uppercase;
}

nav {
  width: 50%;
  max-width: 300px;
  height: 90%;
}

nav > ul {
  display: flex;
  justify-content: end;
  flex-wrap: wrap;
  align-items: center;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%;
}

nav > ul > li {
  color: #dfdfe2;
  margin: 0 0.2rem;
  padding: 0.2rem;
  display: block;
}

nav > ul > li:hover {
  background-color: #f1be32;
  color: #1b1b32;
  cursor: pointer;
}

 > a {
  color: inherit;
  text-decoration: none;
}
/* header */

main {
  padding-top: 50px; /* header 50px height*/
}

body {
  background: #1b1b32;
  color: #EFEFEF;
  font-family: Helvetica;
  margin: 0;
}

body a{
  color: #EFEFEF;
  text-decoration: none !important; 
}
body a:hover{
  text-decoration: underline;
  background-color: #f1be32;
  color: #1b1b32;
}

section {
  width: 90%;
  margin:  5px auto 20px auto;  
}

h1,
h2 {
  font-family: Verdana, Tahoma;
}

h2 { /* h2 is About */
  letter-spacing: 1.5px;
  border-bottom: 4px solid #dfdfe2;
  max-width: 80%;
  margin-top: 0px;
  padding-top: 10px; 
}
h2::before {
  content: "//";
}
.info {
  padding: 0.5px;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 4%;
  margin: 0 auto;
  padding: 20px 10px;
}

.galleryhw {
  width: 100%;
  max-width: 350px;
  max-height:60%;
  border-radius: 10px;
  vertical-align: top;
  text-align: left;
  background-color: #c4bebb;
  margin-bottom: 4%;
  padding: 1%;
}

.galleryhw img {
  vertical-align: top;
  aspect-ratio: 1 / 1;
  max-height:50%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
  margin-bottom: 10px;
}
.gallerytitle{
  display: block;
  text-align: center;
  font-weight: bolder;
  margin: 5px;
  letter-spacing: 2px;
  color: #1b1b32;
  
}
.gallerycaption {
    display: block;
    align: left;
    margin: 5px;
    color: #1b1b32;
}

.galleryhw a{
  color: #1b1b32;
  text-decoration: none !important;
}
.galleryhw a:hover{
  text-decoration: underline overline #f1be32!important;
  color: #206060;
}

p {
  margin:  1px auto 1px auto;
  padding-left: 15px;
  font-size: 20px;
}

footer {
  background-color: #2a2a40;
  display: flex;
  justify-content: center;
}

footer,
footer a {
  color: #dfdfe2;
}
